.layout {
  padding: 32px 64px;
}

.subtitle {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

.execution-input {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.execution-input pre {
  font-size: 0.95em;
}

.info {
  margin: 16px 0;
}

.info th,
.info td {
  text-align: left;
  padding-right: 2em;
}

.input {
  margin: 0;
  font-size: 0.9em;
}

.task-list-float {
  margin-top: 32px;
  border-radius: 4px;
  background-color: rgb(26, 22, 51, 0.8);
  backdrop-filter: blur(4px);
}
