.layout {
  padding: 32px 64px;
}

.subtitle {
  font-size: 1.1em;
  font-weight: 600;
  margin: 1em 0 0 0;
}

.info {
  margin: 64px 0;
}

.input {
  margin: 0;
  font-size: 0.9em;
}

.activity-list-float {
  margin-top: 32px;
  border-radius: 4px;
  background-color: rgb(26, 22, 51, 0.8);
  backdrop-filter: blur(4px);
}
