:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  --space-cadet: #2e294eff;
  background-color: var(--space-cadet);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --crimson: #d7263dff;
  --portland-orange: #f46036ff;
  --persian-green: #1b998bff;
  --june-bud: #c5d86dff;
  --persian-green: #1b998bff;
  --flickr-pink: #ed217cff;
  --canary: #fffd82ff;
  --light-salmon: #ff9b71ff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}
